/* IMPORTANDO AS FONTES */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@font-face {
    font-family: "montserrat";
    src: url(/Fonts/Montserrat/Montserrat-Thin.woff);
  }
  
  @font-face {
    font-family: "montserratP";
    src: url(/Fonts/Montserrat/Montserrat-Regular.woff);
  }
  
  @font-face {
    font-family: "montserratBold";
    src: url(/Fonts/Montserrat/Montserrat-Bold.woff);
  }

  @font-face {
    font-family: "montserratSemiBold";
    src: url(/Fonts/Montserrat/Montserrat-SemiBold.woff);
  }
  
  @font-face {
    font-family: "DelaGothicOne";
    src: url(/Fonts/DelaGothicOne/DelaGothicOne-Regular.woff);
  }
  /* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
  
  *{
    margin: 0px;
    padding: 0px;
  }
  
  header{
    display: flex;
    align-items: center;
    background-color: #F59132;
    width: 100%;
    height: 93px;
    box-shadow:  0 2px 5px -2px rgb(91, 75, 75);
    color: white;
  }
  
  header h1{
    position: absolute;
    font-family: "montserratP";
    margin-left: 142px;
    font-size: 48px;
  }
  
  header img{
    position: absolute;
    margin-left: 56px;
    width: 54px;
    height: 57px;
  }


.content h1{
    font-size: 48px;
    font-family: "montserratBold", serif;
}
.content h4{
    font-size: 24px;
    font-weight: 500;
    font-family: "montserratP", serif;
    margin-top: 8px;
}
.buttons{
  margin-top: 9px;
}
button{
    display: flex;
    align-items: baseline;
    width: 240px;
    height: 49px;
    border: solid black 1px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    resize: none;
    margin-top: 29px;
    box-shadow:  0 3px 4px -2px rgb(91, 75, 75);
    background-color: white;
}
button:hover{
  box-shadow:  0 3px 10px -2px rgb(91, 75, 75);
}

button p{
    display: flex;
    align-self: center;
    font-size: 24px;
    font-family: "montserratSemiBold", serif;
    margin-left: 28px;

}
.content{
    margin-top: 90px;
    margin-left: 125px;
    margin-bottom: 129px;
}



footer{
    display: flex;
    flex-direction: column;
    background-color: #F59132;
    height: 392px;
    width: 100%;
}
  
  .logo-container{
    display: flex;
    align-items: center;
    margin-left: 116px;
    margin-top: 48px;
    
  }
  
  .logo-container img{
    width: 60px;
    height: 66px;
  }
  
  .logo-container span{
    font-family: 'montserratP';
    color: white;
    font-size: 48px;
    margin-left: 13px;
    margin-top: 20px;
  }
  
  .button-container{
    margin-top: 48px;
    margin-left: 116px;
  }
  
  .footer-button{
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 172px;
    height: 58px;
    background-color: white;
    border: none;     
    margin-top: 31px; 
    font-family: 'montserratP';
    font-size: 24px;
  }
  
  .footer-button a{
    text-decoration: none;
    color: black;
  }
  
  .footer-button img{
    width: 32px;
    height: 40px;
    margin-left: 11px;
  }
  
  .footer-button strong{
    margin-left: 12px;
  }  