/* IMPORTANDO AS FONTES */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@font-face {
    font-family: "montserrat";
    src: url(/Fonts/Montserrat/Montserrat-Thin.woff);
}

@font-face {
    font-family: "montserratP";
    src: url(/Fonts/Montserrat/Montserrat-Regular.woff);
}

@font-face {
    font-family: "montserratBold";
    src: url(/Fonts/Montserrat/Montserrat-Bold.woff);
}

@font-face {
    font-family: "DelaGothicOne";
    src: url(/Fonts/DelaGothicOne/DelaGothicOne-Regular.woff);
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    background-color: #F59132;
    width: 100%;
    height: 93px;
    color: white;
    box-shadow: 1px 1px 10px rgb(91, 75, 75);
}

header h1{
    position: absolute;
    font-family: "montserratP";
    margin-left: 142px;
    font-size: 48px;
}

header img{
    position: absolute;
    margin-left: 56px;
    width: 54px;
    height: 57px;
}

.container{
    margin-top: 137px;
}

.container h1{
    text-align: center;
    font-family: "montserratBold";
    font-size: 64px;
}

.container input{
    width: 865px;
    height: 248px;
    border: solid black 2px;
    border-radius: 20px;
    margin-top: 56px;
    text-align: start;
    resize: none;
}

